
body{ background-color: orange;
      color: blue + green;
      font: tahoma;
      padding: 5em
          }

footer{ align-content: center;
  padding: 2em ;
  background-color: blue;
  color: red;
  font-size:32px;


}
